html {
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	line-height: 1.25;
}

a {
	color: blue;
}

img {
	box-sizing: border-box;
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
	line-height: 0;
}

button,
select {
	appearance: none;
	-webkit-appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	margin: 0;
	display: inherit;
	cursor: pointer;
	height: 1.5rem;
	color: blue;
}

button:hover,
select:hover {
	background: gainsboro;
}

p + p {
	margin-top: 1rem;
}

::-webkit-scrollbar {
	width: 1px;
}

::-webkit-scrollbar-thumb {
	background: black;
}
